		html,body{
			margin: 0;
			padding: 0;
			height: 100%;
			width:100%;
			position: relative;
			overflow-y: hidden;
		}
		#main1{
			 width: 100%;
   			 height: 100%; 
   			 position: relative;
   			 top: -100%;
   			 /*overflow-y: hidden;*/
		}
		.row{
			width: 100%;
			height: 25%;
			overflow: hidden;
		}
		.row div{
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing: border-box;
			width: 25%;
			height: 100%;
			border: 1px solid black;
			float: left;
		}
		.black{
			background-color: black;
		}
		#sc{
			font-size: 30px;
		    color: red;
		    position: fixed;
		    width: 100%;
		    text-align: center;
		    z-index: 100;
		    margin: 0;
		}
		#main{
			width: 100%;
		    height: 100%;
		    position: fixed;
		    background-color: #000000a8;
		    top: 0;
		    z-index: 110;
		    display: none;
		}
		#main>p{
		    width: 100%;
		    text-align: center;
		    position: absolute;
		    -webkit-text-stroke: 1px white;
		    color: black;
		    font-size: 4em;
		    top: 15%;
		    font-family: "华文隶书";
		}
		#main>div{
		    width: 100%;
		    text-align: center;
		    position: absolute;
		    -webkit-text-stroke: 2px white;
		    color: white;
		    font-size: 3.8em;
		    top: 40%;
		    font-family: "华文隶书";
		}
		#restart{
			background-color: #10da10;;
			color: white;
			position: absolute;
		    width: 80%;
		    height: 11%;
		    font-size: 2em;
		    bottom: 30%;
		    left: 10%;
		    border-radius: 30px;
		    outline: none;
		    border: 0;
		    font-family: "华文隶书";
		}
		#return{
			position: absolute;
		    width: 80%;
		    height: 11%;
		    font-size: 2em;
		    bottom: 15%;
		    left: 10%;
		    border-radius: 30px;
		    outline: none;
		    border: 0;
		    font-family: "华文隶书";
		}